@font-face {
    font-family: 'Nunito';
    src: url('../../fonts/Nunito-ExtraBold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'HKGrotest-Black';
    src: url('../../fonts/HKGrotesk-Black.otf') format('otf');
    font-style: normal;
    font-weight: 400;
}

$bg-color: #20EFAF;
$font-color: #FFFFFF;

.title {
    width: 790px;
    height: 400px;
    margin: 195px auto 35px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    article {
        margin-left: 90px;
        margin-right: 220px;
        h2 {
            text-transform: uppercase;
            font-family: 'HKGrotest-Black', sans-serif;
            font-size: 18px;
            letter-spacing: .1rem;
            position: relative;
            text-align: right;
            margin-bottom: 2rem;
            &::before {
                content: "";
                position: absolute;
                background-color: $font-color;
                height: 2px;
                width: calc(120% + 15px);
                bottom: -2px;
                right: -15px;
            }
            &::after {
                content: "";
                position: absolute;
                background-color: $font-color;
                bottom: -7px;
                right: -17px;
                border: 6px solid $font-color;
                border-radius: 50%;
            }
        }
        p {
            font-family: 'Nunito', sans-serif;
            font-weight: 700;
            font-size: 1rem;
            letter-spacing: .1rem;
            text-align: justify;
            line-height: 24px;
        }
    }
}