$bg-color: #20EFAF;
$font-color: #FFFFFF;

.header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color;
    padding: 0 2rem;
    h1 {
        background: url('../../images/logo-cbm.svg') center/cover no-repeat;
        width: 93px;
        height: 53px;
        margin-left: 4rem;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        li {
            border-right: 1px solid white;
            &:last-of-type {
            border: none;
            }
        }
    }
    a {
        text-decoration: none;
        color: $font-color;
        letter-spacing: 0.2rem;
        font-weight: 500;
        padding: 0 .4rem;

    }
    .active {
        color: black;
    }
    .buttons {
        display: flex;
        flex-wrap: nowrap;
    }
    button {
        border-radius: 50%;
        border: 1px white solid;
        background-color: transparent;
        color: $font-color;
        padding: .5rem;
        margin: .2rem;
    }
    .activeBtn {
        font-weight: bold;
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        font-weight: bold;
    }
}


