@font-face {
    font-family: 'Nunito';
    src: url('../../fonts/Nunito-ExtraBold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'HKGrotest-Black';
    src: url('../../fonts/HKGrotesk-Black.otf') format('otf');
    font-style: normal;
    font-weight: 400;
}

$bg-color: #20EFAF;
$font-color: #FFFFFF;

.carousel {
    height: calc(100vh - 290px);
    position: relative;
}

.slider {
    height: 100%;
    width: 100%;
}

.slide {
    div {
        display: flex;
        img {
            max-width: 50%;
        }
    }
    section {
        background-color: black;
        width: 50%;
        height: calc(100vh - 290px);
        padding: 20% 5% 0 5%;
        display: flex;
        align-items: center;
        text-align: end;
        overflow: hidden;
        article {
            width: 80%;
            margin: 0 auto 20% auto;
            h2 {
                text-transform: uppercase;
                font-family: 'HKGrotest-Black', sans-serif;
                font-size: 18px;
                letter-spacing: .1rem;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    background-color: $font-color;
                    height: 2px;
                    width: calc(135% + 15px);
                    bottom: -3px;
                    right: -15px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    background-color: $font-color;
                    bottom: -8px;
                    right: -17px;
                    border: 6px solid $font-color;
                    border-radius: 50%;
                }
            }
            p {
                font-family: 'Nunito', sans-serif;
                font-weight: 700;
                font-size: 1rem;
                letter-spacing: .1rem;
                text-align: justify;
                line-height: 24px;
            }
        }
    }
}

.dotGroup {
    position: absolute;
    width: 600px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    button {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: rgba(gray, .3);
        border: none;
        &:focus {
            outline: 0;
            box-shadow: 0 0 3pt 2pt darken($color: gray, $amount: 30%);
        }
        &:disabled {
            transform: scale(1.5);
        }
    }
}

