$bg-color: #20EFAF;
$font-color: #FFFFFF;

.section {
    height: 100vh;
    background-color: $font-color;
    color: $font-color;
    margin-top: -8rem;
    padding-top: 8rem;
    background-clip: content-box;
    &:nth-of-type(2n) {
        background-color: #f4f4f4;
    }
    h2 {
        color: black;
        margin: 3rem 0 3rem 5rem;
    }
}