$bg-color: #20EFAF;
$font-color: #FFFFFF;

.section {
    background-color: $font-color;
    color: $font-color;
    margin-top: -8rem;
    padding-top: 8rem;
    background-clip: content-box;
    overflow: hidden;
    &:nth-of-type(2n) {
        background-color: #f9f9fc;
    }
    h2 {
        color: black;
        margin: 3rem 0 3rem 5rem;
    }
}