$bg-color: #20EFAF;
$font-color: #FFFFFF;

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
    flex-shrink: 0;
}

.container {
    width: 800px;
    display: flex;
    justify-content: space-between;
    section {
        text-align: left;
        color: $font-color;
        p {
            line-height: 0.5;
            font-size: 12px;
            font-weight: 500;

        }
        a {
            text-decoration: none;
            color: $font-color;
        }
    }
    .logos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
            height: 56px;
        }
        h2.cm {
            background: url('../../images/logo-cbm.svg') center/cover no-repeat;
            width: 100px;
        }
        h2.uj {
            background: url('../../images/logo-uj-white.svg') center/cover no-repeat;
            width: 220px;
        }
    }
}
