$bg-color: #20EFAF;
$font-color: #FFFFFF;

.container {
    max-width: 1000px;
    margin: 0 auto 4rem auto;
}

.acc {
    background-color: transparent;
    box-shadow: none;
    position: inherit;
}

.summary {
    color: $bg-color;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: fit-content;
    h4 {
        padding: 0 .5rem;
        margin: 0;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 13px;
            width: 13px;
            right: -22px;
            background-color: $font-color;
            border: 5px solid $bg-color;
            border-radius: 50%;
            top: 4px;
        }
        &::after {
            content: "";
            position: absolute;
            background-color: $bg-color;
            height: 41px;
            width: 3px;
            top: 12px;
            right: -17px;
        }
    }
    svg {
        color: $bg-color;
    }
}

.details {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    p {
        margin: 0;
        padding: 0 0 2rem 7.5rem;
        font-weight: bolder;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 13px;
            width: 13px;
            left: 91px;
            background-color: $font-color;
            border: 5px solid $bg-color;
            border-radius: 50%;
            top: 4px;
        }
        &::after {
            content: "";
            position: absolute;
            background-color: $bg-color;
            height: 100%;
            width: 3px;
            top: 12px;
            left: 96px;
        }
    }
}