@font-face {
    font-family: 'Nunito';
    src: url('../../fonts/Nunito-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}

$bg-color: #20EFAF;
$font-color: #FFFFFF;

.container {
    max-width: 814px;
    margin: 0 auto 4rem auto;
    padding-right: 12px;
}

.acc {
    background-color: transparent;
    box-shadow: none;
    position: inherit;
}

.summary {
    color: $bg-color;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: fit-content;
    margin: 0;
    padding: 0;
    h4 {
        padding: 0 .5rem;
        margin: 0;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 12px;
            width: 13px;
            right: -20px;
            background-color: $bg-color;
            border-radius: 50%;
            top: 3px;
        }
        &::after {
            content: "";
            position: absolute;
            background-color: $bg-color;
            height: 50px;
            width: 2px;
            top: 12px;
            right: -15px;
        }
    }
    svg {
        color: $bg-color;
    }
}

// [class~='summary']:last-of-type {

//         color: black;

// }

.details {
    display: flex;
    flex-direction: column;
    padding: 0;
    p {
        margin: 0;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: normal;
        line-height: 23px;
        text-align: justify;
        padding: 0 0 2rem 7.5rem;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 12px;
            width: 13px;
            left: 91px;
            background-color: $bg-color;
            border-radius: 50%;
            top: 3px;
        }
        &::after {
            content: "";
            position: absolute;
            background-color: $bg-color;
            height: 120%;
            width: 2px;
            top: 12px;
            left: 96px;
        }
    }
}

.lastTitle {
    &::after {
        background-color: transparent !important;
    }
}
